.made-by {
  padding: 22px 0;
  .light-font();
  .text-size(16px;16px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .made-by {
    width: 162px;
  }
}
