.main-font() {
  font-family: @main-font;
  font-weight: normal;
  color: @font-black;
}

.main-font(@font-weight; @font-color) {
  font-family: @main-font;
  font-weight: @font-weight;
  color: @font-color;
}

.light-font() {
  font-family: @light-font;
  font-weight: normal;
  color: @font-grey;
}

.text-size(@font-size; @line-height) {
  font-size: @font-size;
  line-height: @line-height;
}

.some-text() {
  .light-font();
  .text-size(14px; 18px);
}

.big-text() {
  .main-font();
  .text-size(60px; 60px);
}

.list-none() {
  list-style: none;
  margin: 0;
  padding: 0;
}

// вертикальное центрирование эл-та с position: absolute
.abs-align-top {
  top: 50%;
  transform: translateY(-50%);
}
