@main-font: "Oswald", "Arial", sans-serif;
@light-font: "Arial", sans-serif;
@font-black: #111111;
@font-grey: #444444;
@font-white: #ffffff;

@bg-white: #ffffff;
@bg-grey: #f2f2f2;

@green: #68b738;
