// ---------- мобильная версия ----------
.main {
  border-top: 2px solid #e6e6e6;
}
//
//
//
// ---------- планшетная версия ----------
@media (min-width: @tablet-width) {
  .main {
    border: none;
    overflow-x: hidden;
  }

  .main__wrapper--catalog {
    width: @tablet-width;
    margin: 0 auto;
    padding: 0 30px 75px;
  }
}
//
//
//
// ---------- десктопная версия ----------
@media (min-width: @desktop-width) {
  .main__wrapper--catalog {
    width: @desktop-width;
    margin: 0 auto;
    padding: 0 40px;
  }
}
