// ---------- мобильная версия ----------
.main {
  border-top: 2px solid #e6e6e6;
}

.main__container {
  width: 88%;
  margin: 0 6%;
}
//
//
//
// ---------- планшетная версия ----------
@media (min-width: @tablet-width) {
  .main {
    border: none;

    &--catalog {
      padding-bottom: 76px;
      overflow-x: hidden;
    }
  }

  .main__container {
    width: @tablet-width;
    margin: 0 auto;
  }
}
//
//
//
// ---------- десктопная версия ----------
@media (min-width: @desktop-width) {
  .main--catalog {
    padding: 0;
  }

  .main__container {
    width: @desktop-width;
  }
}
