// ---------- мобильная версия ----------
.cat-data {
  .list-none();
  margin-bottom: 24px;
  padding-bottom: 7px;
}

.cat-data__item {
  padding-bottom: 14px;
  display: flex;
  align-items: center;
}

.cat-data__input {
  margin-left: 15px;
  flex-grow: 1;
}
//
//
//
// ---------- планшетная версия ----------
@media (min-width: @tablet-width) {
  .cat-data {
    margin-bottom: 50px;
  }

  .cat-data__input {
    margin-left: 18px;
  }
}
//
//
//
// ---------- десктопная версия ----------
@media (min-width: @desktop-width) {
  .cat-data {
    width: 570px;
    margin-bottom: 44px;
  }
}
