.cat-data {
  .list-none();
  margin-bottom: 9px;
}

.cat-data__item {
  padding-bottom: 14px;
  display: flex;
  align-items: center;
}

.cat-data__input {
  margin-left: 10px;
  flex-grow: 1;
}

@media (min-width: @desktop-width) {
  .cat-data {
    width: 570px;
  }
}
