.owner-data {
  .list-none();
  padding-top: 32px;
}

.owner-data__item {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}

.owner-data__input {
  margin-left: 10px;
  flex-grow: 1;
}

@media (min-width: @desktop-width) {
  .owner-data__item {
    width: 570px;
  }
}
