.basic-goods {
  margin-bottom: 66px;
}

.basic-goods__list {
  .list-none();
}

@media (min-width: @tablet-width) {
  .basic-goods__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 768px;
  }
}
