// ---------- мобильная версия ----------
.extras {
  padding-bottom: 37px;
}

.extras__wrapper {
  display: flex;
  flex-direction: column;
}

.extras__title {
  position: relative;
  margin-bottom: 34px;
  .main-font();
  .text-size(24px; 24px);
  //
  //   зеленая полоса
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     width: 19%;
  //     height: 3px;
  //     top: 14px;
  //     right: -20px;
  //     background-color: @green;
  //   }
}

.extras__list {
  .list-none;
  margin-bottom: 40px;
  border-top: 1px solid #d9d9d9;
}
//
//
//
// ---------- планшетная версия ----------
@media (min-width: @tablet-width) {
  .extras {
    width: 708px;
    padding: 0;
  }

  .extras__title {
    margin: 0 37px 80px;
    padding: 0;
    .text-size(36px; 36px);
    //
    //  зеленая полоса
    //     &::before {
    //       content: "";
    //       position: absolute;
    //       width: 44%;
    //       height: 3px;
    //       top: 23px;
    //       left: -340px;
    //       background-color: @green;
    //     }
    //
    //     &::after {
    //       width: 84%;
    //       top: 23px;
    //       right: -270px;
    //     }
  }

  .extras__wrapper {
    margin: 0 auto;
  }

  .extras__list {
    margin-bottom: 69px;
  }
}
//
//
//
// ---------- десктопная версия ----------
@media (min-width: @desktop-width) {
  .extras {
    width: 1220px;
    padding-bottom: 86px;
  }

  .extras__title {
    margin: 0;
    margin-bottom: 80px;
  }

  .extras__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .extras__list {
    margin: 0;
  }
}
