// ---------- мобильная версия ----------
.good {
  margin-bottom: 24px;
  border-top: 1px solid #ededed;
}

.good__wrapper {
  display: flex;
  justify-content: center;
}

.good__image-link {
  height: 144px;
}

.good__title {
  text-align: left;
}

.good__title-link {
  display: block;
  width: 80px;
  padding: 21px 0 13px;
  .main-font();
  .text-size(16px; 20px);
  text-transform: uppercase;
}

.good__description {
  width: 30%;
  min-width: 140px;
  .light-font();
  .text-size(12px; 16px);
  border-collapse: collapse;

  td {
    padding: 0;
  }
}

.good__value {
  text-align: right;
}

.good__value--price {
  text-transform: uppercase;
}

.good__button {
  margin: 0 20px;
  padding: 10px;
}
//
//
//
// ---------- планшетная версия ----------
@media (min-width: @tablet-width) {
  .good {
    position: relative;
    align-items: stretch;
    width: 324px;
    margin-bottom: 140px;
    padding: 141px 38px 40px;
    background-color: @bg-grey;
    border: none;

    &:nth-child(7) { // почему не срабатывает :last-child?
      margin-bottom: 0;
    }
  }

  .good__wrapper {
    margin-bottom: 33px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .good__image-link {
    position: absolute;
    top: -79px;
    left: 50%;
    transform: translateX(-50%);
  }

  .good__description {
    width: 100%;
    .text-size(16px; 16px);

    tr {
      border-bottom: 1px solid #cdcdcd;
    }

    td {
      padding-top: 8px;
      padding-bottom: 7px;
    }
  }

  .good__title {
    padding: 0;
  }

  .good__title-link {
    width: 130px;
    margin: 0 auto;
    padding: 22px 0 19px;
    .text-size(20px; 20px);
    text-align: center;
  }

  .good__button {
    margin: 0;
  }
}
//
//
//
// ---------- десктопная версия ----------
@media (min-width: @desktop-width) {
  .good {
    width: 246px;

    tr:last-child {
      border-bottom: none;
    }

    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {  // почему не работает :nth-child(5+n)?
      margin-bottom: 0;
    }
  }

  .good__wrapper {
    margin-bottom: 34px;
  }
}
