.more-goods {
  position: relative;
  padding-top: 67px;
  padding-bottom: 24px;
  text-align: center;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/vector/icon-plus-mobile.svg");
    opacity: 0.2;
  }
}

.more-goods__title {
  margin-bottom: 7px;
  .main-font();
  .text-size(16px; 20px);
  text-transform: uppercase;
}

.more-goods__info {
  margin: 0;
  margin-bottom: 21px;
  .light-font();
  .text-size(12px; 16px);
}

.more-goods__button {
  margin: 0 20px;
  padding: 10px;
  color: @font-grey;
  background-color: @bg-grey;
}

@media (min-width: @tablet-width) {
  .more-goods {
    align-self: flex-start;
    width: 324px;
    padding: 146px 0 39px;
    border: 1px solid #e6e6e6;

    &::before {
      width: 60px;
      height: 60px;
      top: 54px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../img/vector/icon-plus.svg");
    }
  }

  .more-goods__title {
    padding: 0 72px 20px;
    .text-size(20px; 20px);
  }

  .more-goods__info {
    margin-bottom: 88px;
    padding: 0 48px;
    .text-size(16px; 16px);
  }

  .more-goods__button {
    margin: 0 36px;
  }
}

@media (min-width: @desktop-width) {
  .more-goods__button {
    width: 169px;
  }
}
