.more-goods {
  padding-top: 83px;
  text-align: center;
}

.more-goods__title {
  .main-font();
  .text-size(16px; 20px);
  text-transform: uppercase;
}

.more-goods__info {
  .light-font();
  .text-size(12px; 16px);
}

.more-goods__button {
  width: 280px;
  padding: 13px;
  color: @font-grey;
  background-color: @bg-grey;
}

@media (min-width: @tablet-width) {
  .more-goods__button {
    width: 249px;
  }
}

@media (min-width: @desktop-width) {
  .more-goods__button {
    width: 169px;
  }
}
