// ---------- мобильная версия ----------
.offer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 186px 0 42px; // некрасивые отступы, как можно по-другому?
  .light-font();
  color: @font-white;
  text-align: center;
  background-color: @green;
  background-image: url("../img/raster/background/mobile/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/raster/background/mobile/2x/gift-photo-mobile@2x.jpg");
  }

  span {
    margin: 1px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 60px;
    top: 64px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/vector/icon-gift.svg");
  }
}
//
//
//
// ---------- планшетная версия ----------
@media (min-width: @tablet-width) {
  .offer {
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    padding: 72px 105px 68px; // некрасивые отступы, как можно по-другому?
    background-image: url("../img/raster/background/tablet/gift-photo-tablet@1x.jpg");
    background-size: 100%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/raster/background/tablet/2x/gift-photo-tablet@2x.jpg");
    }

    span {
      width: 180px;
      text-align: left;
    }

    &::before {
      left: 120px;
    }
  }
}
//
//
//
// ---------- десктопная версия ----------
@media (min-width: @desktop-width) {
  .offer {
    width: 245px;
    margin: 0;
    padding: 0;
    padding-bottom: 42px;
    justify-content: flex-end;
    align-items: center;
    background-image: url("../img/raster/background/desktop/gift-photo-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/raster/background/desktop/2x/gift-photo-desktop@2x.jpg");
    }

    span {
      text-align: center;
    }
  }
}
