.instance {
  margin: 0;
  padding: 0;
  padding-bottom: 38px;
  background-color: @bg-grey; /* можно ли "растянуть" серый фон?*/
}

.instance__title {
  margin: 0;
  padding: 0;
}

.instance__info {
  padding-right: 14px;
  .some-text();
}

// .instance__stats {
//   .list-none();
// }

