.product-line__list {
  .list-none();
  display: flex;
  flex-direction: column;
}

.product-line__item {
  margin-bottom: 20px;
  padding: 25px 25px 22px 20px;
  background-color: @bg-grey;
}

.product-line__title {
  margin: 0;
  margin-bottom: 37px;
  .main-font();
  .text-size(24px; 37px);
  text-transform: uppercase;
}

.product-line__info {
  margin: 0;
  margin-bottom: 30px;
  .some-text();
}

.product-line__link {
  .main-font();
  .text-size(16px; 16px);
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .product-line__item {
    margin-bottom: 20px;
    padding: 80px 120px 65px 40px;
  }
}

@media (min-width: @desktop-width) {
  .product-line__list {
    flex-direction: row;
  }

  .product-line__item {
    margin: 40px;
  }
}
