.promo {
  position: relative;

  // для фона и фоновой заливки
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 734px;
    background-image: url("../img/raster/background/mobile/index-background-mobile@1x.jpg"), linear-gradient(to bottom, @green 200px, transparent 200px);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/raster/background/mobile/2x/index-background-mobile@2x.jpg");
    }
  }
}

.promo__wrapper {
  text-align: center;
  padding-top: 27px;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  .main-font(normal; @font-white);
  .text-size(36px; 36px);
}

.promo__slogan {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  .main-font(normal; @font-white);
  .text-size(14px; 14px);
  text-transform: uppercase;
}

.promo__button {
  align-self: stretch;
  padding: 11px;
  .text-size(14px; 18px);
}
//
//
//
// ---------- планшетная версия ----------
@media (min-width: @tablet-width) {
  .promo {
    &::before {
      display: none;
    }
  }

  .promo__wrapper {
    position: relative;
    min-height: 800px;
    margin-bottom: 32px;
    padding: 23px 118px;
    align-items: flex-start;
  }

  .promo__title,
  .promo__slogan {
    color: @font-black;
  }

  .promo__title {
    margin-bottom: 40px;
    .big-text;
    text-align: left;
  }

  .promo__slogan {
    margin-bottom: 48px;
    .text-size(20px; 20px);
  }

  .promo__button {
    z-index: 2;
    align-self: flex-start;
    padding: 15px 29px 17px 26px;
    .text-size(20px; 20px);
  }

  .promo__img {
    position: absolute;
    top: 224px;
    left: 29px;
    width: 709px;
    height: auto;
  }
}
//
//
//
// ---------- десктопная версия ----------
@media (min-width: @desktop-width) {
  .promo__wrapper {
    min-height: 560px;
    padding: 39px 120px;
  }

  .promo__title {
    width: 560px;
  }

  .promo__img {
    top: -42px;
    left: 490px;
    width: 552px;
  }

  .promo__slogan {
    margin-bottom: 53px;
  }
}
