.promo {
  text-align: center;
  padding-top: 29px;
  margin-bottom: 22px;
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  .main-font(normal; @font-white);
  .text-size(36px; 36px);
}

.promo__slogan {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  .main-font(normal; @font-white);
  .text-size(14px; 14px);
  text-transform: uppercase;
}

.promo__button {
  padding: 11px;
  .text-size(14px; 18px);
}
