.promo {
  text-align: center;
  padding-top: 27px;
  margin: 0 auto 22px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  .main-font(normal; @font-white);
  .text-size(36px; 36px);
}

.promo__slogan {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  .main-font(normal; @font-white);
  .text-size(14px; 14px);
  text-transform: uppercase;
}

.promo__button {
  align-self: stretch;
  padding: 11px;
  .text-size(14px; 18px);
}
//
//
//
// ---------- планшетная версия ----------
@media (min-width: @tablet-width) {
  .promo {
    width: auto;
    padding: 23px 88px 506px;
    align-items: flex-start;
  }

  .promo__title,
  .promo__slogan {
    color: @font-black;
  }

  .promo__title {
    margin-bottom: 40px;
    .big-text;
    text-align: start;
  }

  .promo__slogan {
    margin-bottom: 48px;
    .text-size(20px; 20px);
  }

  .promo__button {
    z-index: 2;
    align-self: flex-start;
    padding: 15px 29px 17px 26px;
    .text-size(20px; 20px);
  }

  .promo__img {
    position: absolute;
    top: 224px;
    right: 0;
    width: 1418px;
    height: auto;
  }
}
//
//
//
// ---------- десктопная версия ----------
@media (min-width: @desktop-width) {
  .promo {
    width: 600px;
    margin: 0;
    padding: 39px 80px;
  }

  .promo__img {
    top: -42px;
    right: -402px;
    width: 552px;
  }

  .promo__slogan {
    margin-bottom: 53px;
  }
}
