.slider {
  margin-top: 26px;
  margin-bottom: 9px;
  display: flex;
  justify-content: center;
}

.slider__text {
  margin: 0;
  padding: 0;
  .main-font();
  .text-size(16px; 20px);
  text-transform: uppercase;
  border: none;
  background: none;
}

.slider__scale {
  position: relative;
  width: 84px;
  height: 14px;
  margin: 7px 18px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;

  // цветной индикатор
  &::before {
    content: "";
    position: absolute;
    .abs-align-top;
    left: 5px;
    width: 35px;
    height: 6px;
    background-color: @green;
    border-radius: 3px;
  }
}

.slider__button {
  display: none;
}
//
//
//
// ---------- планшетная версия ----------
@media (min-width: @tablet-width) {
  .slider {
    margin-top: 10px;
    margin-bottom: 68px;
  }

  .slider__text {
    .text-size(20px; 20px);
    border-bottom: 1px dotted rgba(17, 17, 17, 0.23);

    &:hover {
      border-bottom: 1px solid rgba(17, 17, 17, 0.4);
    }

    &:focus {
      border: none;
    }
  }

  .slider__scale {
    width: 428px;
    height: 6px;
    margin: 13px 22px;
    border: none;
    background-color: #dcdcdc;

    &::before,
    .slider__button {
      left: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
    }

    &::before {
      width: 8px;
      height: 8px;
      z-index: 2;
    }

    .slider__button {
      display: block;
      position: absolute;
      .abs-align-top;
      left: calc(50% - 14px);
      width: 35px;
      height: 35px;
      background-color: @bg-white;
      border: 1px solid #cfcfcf;
      box-shadow: 0 2px 5px #d9d9d9;

      &:hover {
        box-shadow: 0 3px 5px #c5c5c5;
      }

      &:focus {
        border: 2px solid @green;
        box-shadow: 0 4px 5px #adadad;
      }
    }
  }
}
//
//
//
// ---------- десктопная версия ----------
@media (min-width: @desktop-width) {
  .slider {
    margin: 30px 40px 69px;
  }
}
