.stats {
  .list-none();
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

.stats__result,
.stats__desc {
  width: 125px;
  display: flex;
  flex-direction: column;
}

.stats__result {
  .main-font();
  .text-size(24px; 24px);
}

.stats__desc {
  .light-font();
  .text-size(12px; 12px);
}

.stats__item--cost {
  .main-font();
  .text-size(14px; 20px);
  text-transform: uppercase;
}

// @media (min-width: @tablet-width) {
//   .stats {

//   }
// }

// @media (min-width: @desktop-width) {
//   .stats {

//   }
// }
