.header__wrapper {
  width: @mobile-width;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__logo-img {
  margin: 11px 20px;
}

.header__button {
  position: absolute;
}

@media (min-width: @tablet-width) {
  .header__wrapper {
    width: auto;
    margin: 0;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  .header__button {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .header__wrapper {
    width: @desktop-width;
    padding: 0 110px;
  }
}
