.header__wrapper {
  position: relative;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header__logo {
  width: 200px;
  margin: 11px 20px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}
//
//
//
// ---------- планшетная версия ----------
@media (min-width: @tablet-width) {
  .header__wrapper {
    width: @tablet-width;
    margin: 0 auto;
    padding: 24px 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  .header__logo {
    margin: 0;
  }
}
//
//
//
// ---------- десктопная версия ----------
@media (min-width: @desktop-width) {
  .header__wrapper {
    width: @desktop-width;
    margin: 0 auto;
    padding: 56px 40px;
  }
}
